@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Open+Sans+Condensed:wght@300&family=Raleway:wght@200&family=Roboto:wght@100&display=swap');

body {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  margin: auto;
  width: 50%;
  background: black;
}

#container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#legendbox {
  display: inline-block;
  position: absolute;
  top: 5%;
  right: 8%;
}

h3 {
  font-size: 2em;
  font-family: "Raleway", sans-serif;
  color: white;
  position: absolute;
  display: inline-block;
  top: 1%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h2 {
  font-size: 1.5em;
  font-family: "Raleway", sans-serif;
  color: white;
  position: absolute;
  display: inline-block;
  top: 6%;
  left: 50%;
  transform: translate(-50%, -50%);
}

p {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  color: white;
  position: absolute;
  top: 105%;
  left: 6%;
  line-height: 30px;
}

g {
  color: lightgrey;
}