body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  padding: 1em;
  background-color: #E2E0F1;
  margin: auto;
}

h3 {
  font-size: 2em;
  margin: 0 auto;
  text-align: center;
}

#barchart {
  position: relative;
  transform: translate(10%, 10%);
}

rect {
  fill: darkslateblue;
  stroke: black;
}